.main{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.toggleButton{
    color: white;
    font-weight: bold;
    font-size: 24px;
}
/* #region header */
    .header{
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .contents{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .toggle{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .levels{
        color: white;
        font-weight: bold;
        font-size: 24px;
    }
    .buttons{
        color: white;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font-weight: bold;
        opacity: 0.6;
        transition: opacity 0.3s ease;
        cursor: pointer;
    }
    .buttons:hover{
        opacity: 1;
    }
    /* #region profile */
        .profile{
            width: 20vw;
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            justify-content: flex-end;
            margin-right: 40px;
        }
        .profileImg{
            height: 15%;
            width: 15%;
            border-radius: 30px;
            border: 1px solid white;
        }
        .profileName{
            display: flex;
            color: white;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 5px;
        }
        .showSet{
            font-size: 14px;
            transition: rotate 0.3s ease;
        }
        .showSet:hover{
            rotate: 180deg;
        }
        .modal{
            position: absolute;
            width: 40vw;
            height: 60vh;
            right: 450px;
            bottom: 170px;
            padding: 0;
            border-radius: 15px;
            overflow: hidden;
        }
        .options{
            display: flex;
            position: absolute;
            flex-direction: column;
            right: 55px;
            top: 55px;
            gap: 5px;
        }
        .profileBut{
            color: white;
            background: none;
            border: none;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            font-weight: bold;
            opacity: 0.6;
            transition: opacity 0.3s ease;
            cursor: pointer;
        }
        .profileBut:hover{
            opacity: 1;
        }
    /* #endregion */
/* #endregion */
/* #region sideBar */
    .toggleHeader{
        display: flex;
        flex-direction: column;
        gap: 40px;

        height: 100vh;
        text-align: left;
        position: absolute;
        border-right: 1px solid white;
        border-top: 1px solid white;
        width: 8vw;
        overflow: hidden;
        padding: 15px;
        top: 70px;
        left: -5px;
    }
    .route{
        color: white;
        text-decoration: none;
        transition: opacity 0.3s ease;
        font-weight: bold;
        font-size: 16px;
        opacity: 0.4;
    }
    .route:hover{
        opacity: 1;
    }
/* #endregion */

@media only screen and (max-width: 900px){
    .profileImg{
        display: none;
    }
    .toggleHeader{
        width: 20vw;
        background: inherit;
    }
    .route{
        font-size: 12px;
    }
    .options{
        right: 10px;
    }
    .profile{
        margin: 0px;
    }
}